@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  font-family: "Raleway", sans-serif;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progressbar, .swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.button {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
.button-body {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  padding: 10px;
}

.username {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.option {
  display: flex;
  align-items: center;
}
.option__item {
  padding: 12px;
  mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin-left: 8px;
}
.option__item:first-child {
  margin-left: 0;
}

.create-values {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.create-values__taste {
  border-radius: 8px;
  background: #1d2228;
  padding: 11px 12px 10px 16px;
  margin-right: 9px;
}
.create-values__taste-digit {
  color: #fff;
  margin-right: 22px;
}
.create-values__taste-name {
  color: rgba(255, 255, 255, 0.5);
}
.create-values__like {
  margin-right: 11px;
}
.create-values__like span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.create-values__additional {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 470px) {
  .create-values {
    flex-direction: column;
  }
  .create-values__taste {
    margin: 0 0 10px 0;
  }
  .create-values__like {
    margin: 0 0 5px 0;
  }
}

.person {
  display: flex;
  align-items: center;
}
.person__image {
  margin-right: 12px;
}
.person__image img {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
  border-radius: 12px;
  width: 49px;
  width: 49px;
}
.person__info-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 4px;
}
@media (max-width: 500px) {
  .person__info-title {
    font-size: 15px;
  }
}

.delete-file-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.delete-file-button__img {
  margin-right: 5px;
}
.delete-file-button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff5e54;
}

.money {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 32px 32px;
  height: 56px;
  width: 100%;
  margin-bottom: 40px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}
.header__logo {
  max-width: 47px;
  width: 100%;
}
.header__search {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 25px 0 15px;
  width: 100%;
  height: 32px;
  background: #1d2228;
  border-radius: 12px;
  padding: 0 14px;
}
.header__search input {
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  margin-left: 10px;
}
.header__connect {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 12px;
  max-width: 126px;
  width: 100%;
}
.header__connect-body {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  padding: 9px 10px;
}
.header__connect-body a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.header .lk {
  margin-left: 16px;
  position: relative;
}
.header .lk__person {
  display: flex;
  align-items: center;
}
.header .lk__person-image {
  margin-right: 10px;
}
.header .lk__person-image img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
  border-radius: 12px;
}
.header .lk__person-content {
  display: flex;
  flex-direction: column;
}
.header .lk__person-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.header .lk__person-info {
  display: flex;
  align-items: center;
}
.header .lk__person-nickname {
  margin-right: 10px;
}
.header .lk .balance {
  display: flex;
  align-items: center;
}
.header .lk .balance__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 4px;
}
.header .lk .balance img {
  margin-right: 3px;
}
.header .lk .balance__amount {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.header .lk__dropdown {
  margin-left: 5px;
}
.header .lk .lk-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  width: 267px;
  left: -12px;
  top: 48px;
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 12px;
  z-index: 10;
}
.header .lk .lk-menu_active {
  display: flex;
}
.header .lk .lk-menu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}
.header .lk .lk-menu__item:first-child {
  color: rgba(255, 255, 255, 0.5);
}
.header .lk .lk-menu__item:last-child {
  color: #ff5e54;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .header .lk .lk-menu {
    left: -50px;
  }
  .header .lk__person-nickname {
    display: none;
  }
}
@media (max-width: 600px) {
  .header .lk__person-image {
    margin-right: 0;
  }
  .header .lk .lk-menu {
    left: -180px;
  }
  .header .lk__person-content {
    display: none;
  }
}
@media (max-width: 420px) {
  .header {
    height: 48px;
    margin-bottom: 20px;
  }
  .header .lk {
    margin-left: 10px;
  }
  .header__body {
    padding: 0 10px;
  }
  .header__search {
    margin: 10px;
  }
}

.user {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.user .container {
  display: flex;
  align-items: center;
  min-width: 0;
}
.user-info {
  flex: 1 1 516px;
  padding: 0 16px 0 0;
}
.user-info__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.user-info__ava {
  display: block;
  margin-right: 12px;
}
.user-info__ava img {
  border-radius: 12px;
}
.user-info__personal-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 4px;
}
.user-info__personal-nick {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.user-info__body {
  margin-bottom: 16px;
}
.user-info__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
}
.user-info__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.user-info__text span {
  color: rgba(255, 255, 255, 0.5);
}
.user-info__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info__sold {
  display: flex;
  align-items: center;
}
.user-info__sold-title {
  margin-right: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.user-info__sold-content {
  display: flex;
  align-items: center;
}
.user-info__sold-content img {
  margin-right: 5px;
}
.user-info__sold-content span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user-info__action {
  display: flex;
  align-items: center;
}
.user-info__action-button {
  padding: 12px 32px;
}
.user-info__action-item {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 10px;
}
@media (max-width: 991px) {
  .user .container {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 500px) {
  .user {
    margin-bottom: 50px;
  }
  .user .container {
    padding: 0 10px;
  }
  .user-info {
    width: 100%;
    flex: none;
  }
  .user-info__title {
    font-size: 26px;
  }
  .user-info__footer {
    flex-direction: column;
  }
  .user-info__sold {
    margin-bottom: 16px;
  }
}

.lot {
  width: 100%;
  height: 100%;
}
.lot__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.lot__titles {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.lot__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 24px;
}
.lot__title_active {
  color: #fff;
}
.lot__title:last-child {
  margin-right: 0;
}
.lot__header-item {
  position: relative;
}
.lot__header-list {
  top: 45px;
  right: 0;
  position: absolute;
  z-index: 7;
  background: #30363d;
  display: none;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.lot__header-list_active {
  display: block;
}
.lot__header-list li {
  padding: 10px 24px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lot__header-list li:last-child {
  margin-bottom: 0;
}
.lot__header-title {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0px 15px 30px rgba(20, 102, 204, 0.16));
  border-radius: 99px;
  padding: 10px 24px;
  margin-right: 12px;
  cursor: pointer;
}
.lot__header-title:last-child {
  margin-right: 0;
}
.lot__header-title span {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
}
.lot__header-title img {
  width: 8px;
  height: 5px;
}
.lot__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.lot .lot-item {
  flex: 0 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 317px;
  border: 1px solid #333940;
  margin: 0 7.5px 15px 7.5px;
}
.lot .lot-item__content {
  position: relative;
}
.lot .lot-item__profile {
  display: flex;
  align-items: center;
  background: #fff;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  max-width: 131px;
  width: 100%;
  height: 44px;
  padding: 5px 10px;
  position: absolute;
  left: 16px;
  top: 12px;
}
.lot .lot-item__profile-image img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
  border-radius: 8px;
}
.lot .lot-item__profile-info h5 {
  font-size: 14px;
  line-height: 16px;
  color: #1d2228;
  margin-bottom: 2px;
}
.lot .lot-item__profile-info span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.lot .lot-item__status {
  position: absolute;
  left: 16px;
  top: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background: #fff;
  mix-blend-mode: normal;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lot .lot-item__status_approved {
  color: #86d084;
}
.lot .lot-item__status_moderation {
  color: #ffba09;
}
.lot .lot-item__status_declined {
  color: #ff5e54;
}
.lot .lot-item__points {
  position: absolute;
  right: 16px;
  top: 22px;
}
.lot .lot-item__point {
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.lot .lot-item__point span {
  position: relative;
  width: 3px;
  height: 3px;
  left: 0;
  transform: translateX(25%);
  background-color: black;
  border-radius: 50%;
}
.lot .lot-item__point span:before, .lot .lot-item__point span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
}
.lot .lot-item__point span:before {
  top: -6px;
}
.lot .lot-item__point span::after {
  top: 6px;
}
.lot .lot-item__point_disabled {
  background: rgba(255, 255, 255, 0.5);
}
.lot .lot-item__point_disabled span {
  background: #fff;
}
.lot .lot-item__point:last-child {
  margin-bottom: 0;
}
.lot .lot-item__image {
  margin-bottom: 24px;
}
.lot .lot-item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  padding: 0 0 0 16px;
  margin: 24px 0 17px 0;
}
.lot .lot-item__sold {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 15px;
}
.lot .lot-item__sold-text {
  flex: 0 1 65%;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.lot .lot-item__sold-token {
  flex: 0 1 35%;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
}
.lot .lot-item__sold-token img {
  margin-right: 5px;
}
.lot__show-button {
  background: linear-gradient(270deg, rgba(135, 67, 255, 0.2) 0%, rgba(65, 54, 241, 0.2) 100%);
  border-radius: 12px;
  padding: 12px 32px;
  max-width: 121px;
  margin: 24px auto 48px auto;
}
.lot__show-button span {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 500px) {
  .lot__header {
    justify-content: center;
  }
  .lot .container {
    padding: 0 10px;
  }
  .lot .lot-item {
    margin-right: 0;
  }
}

.creator {
  width: 100%;
  height: 100%;
}
.creator__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin: 80px 0 24px 0;
}
.creator .seller {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}
.creator .seller__item {
  flex: 1 0 245px;
  border: 1px solid #333940;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.creator .seller__image {
  margin-bottom: 20px;
}
.creator .seller__image img {
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
  border-radius: 12px;
}
.creator .seller__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 8px;
}
.creator .seller__nickname {
  margin-bottom: 8px;
}
.creator .seller__quantity {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 500px) {
  .creator__title {
    margin: 20px 0;
    font-size: 26px;
  }
  .creator .seller__item {
    flex: 1 0 200px;
  }
}

.mainframe {
  width: 100%;
  height: 100%;
  margin-bottom: 65px;
}
.mainframe__body {
  position: relative;
}
.mainframe__body img {
  max-width: 100%;
  object-fit: cover;
}
.mainframe .bid {
  max-width: 518px;
  width: 100%;
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 75px;
  transform: translate(-50%, 50%);
}
.mainframe .bid__item {
  flex: 0 1 33.333%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
}
.mainframe .bid__item::after {
  position: absolute;
  content: "";
  height: 43px;
  width: 3px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mainframe .bid__item:last-child::after {
  display: none;
}
.mainframe .bid__item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.mainframe .bid__item-content {
  display: flex;
  align-items: center;
}
.mainframe .bid__item-content img {
  margin-right: 5px;
}
.mainframe .bid__item-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.mainframe .bid__item-content span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 4px;
}
.mainframe .bid__item-button span {
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  padding: 13px 33px;
}
@media (max-width: 620px) {
  .mainframe {
    margin-bottom: 30px;
  }
  .mainframe .bid {
    margin-top: 20px;
    max-width: none;
    width: 100%;
    position: static;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    background: none;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
  .mainframe .bid__item {
    padding: 5px 10px;
    flex: none;
    margin-bottom: 10px;
  }
  .mainframe .bid__item::after {
    display: none;
  }
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 99px;
}
.about .user-info {
  max-width: 516px;
  width: 100%;
  flex: none;
  margin-right: 24px;
}
.about .user-info__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about .user-info__ava {
  display: block;
  margin-right: 12px;
}
.about .user-info__ava img {
  border-radius: 12px;
}
.about .user-info__personal-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 4px;
}
.about .user-info__personal-nick {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .user-info__body {
  margin-bottom: 16px;
}
.about .user-info__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
}
.about .user-info__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}
.about .user-info__subtitle span {
  color: rgba(255, 255, 255, 0.5);
}
.about .user-info__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.about .user-info__text span {
  color: rgba(255, 255, 255, 0.5);
}
.about .user-info__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .user-info__action {
  display: flex;
  align-items: center;
}
.about .user-info__action-item {
  border-radius: 12px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 10px 0 0;
}
.about .activity {
  width: 100%;
}
.about .activity__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 15px;
}
.about .activity__content {
  max-height: 564px;
  overflow-y: scroll;
}
.about .activity__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 778px;
  width: 100%;
  border: 1px solid #333940;
  padding: 15px;
  margin-bottom: 8px;
}
.about .activity__place {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.about .activity__place-image img {
  height: 32px;
  width: 32px;
  filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.15));
  border-radius: 8px;
  margin-right: 10px;
}
.about .activity__place-info h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 4px;
}
.about .activity__place-info p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.about .activity__sold {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.about .activity__sold img {
  margin-right: 5px;
}
.about .activity__sold p {
  color: #fff;
  margin-right: 5px;
}
.about .activity__sold span {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
}
.about .activity .button {
  width: 32px;
  height: 32px;
  padding: 8px;
}
.about .activity .button img {
  margin: 0;
}
@media (max-width: 1117px) {
  .about .activity__row {
    justify-content: center;
  }
  .about .activity__place {
    margin-bottom: 10px;
  }
}
@media (max-width: 890px) {
  .about .user-info {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .user-info {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .about {
    margin-bottom: 35px;
  }
  .about .user-info__title {
    font-size: 26px;
  }
  .about .activity__place-info h5 {
    font-size: 16px;
  }
}

.profile {
  margin-bottom: 40px;
}
.profile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  max-width: 1060px;
}
.profile__text span {
  color: rgba(255, 255, 255, 0.5);
}
.profile .action {
  display: flex;
  align-items: center;
}
.profile .action__follow {
  display: flex;
  align-items: center;
}
.profile .action__follow-item {
  margin-right: 16px;
}
.profile .action__follow-item h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.profile .action__follow-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.profile .action .button-body {
  padding: 13px 30px;
}
.profile .socio {
  display: flex;
  align-items: center;
  margin: 25px 0 16px 0;
}
.profile .socio__item {
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.profile .socio__item:last-child {
  margin-right: 0;
}
.profile .socio__item img {
  margin-right: 8px;
}
@media (max-width: 768px) {
  .profile__header {
    align-items: flex-start;
    flex-direction: column;
  }
  .profile .person {
    margin-bottom: 10px;
  }
  .profile .action {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .profile .action__follow {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .profile .socio {
    flex-wrap: wrap;
  }
  .profile .socio__item {
    margin: 0 0 5px 0;
    flex: 1 0 50%;
  }
}

.change {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change__body {
  max-width: 653px;
  width: 100%;
  background: #30363d;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  padding: 45px 24px 32px 24px;
  position: relative;
}
.change__core {
  overflow-y: auto;
}
.change__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.change__exit {
  position: absolute;
  right: 24px;
  top: 50px;
  cursor: pointer;
}
.change__back {
  position: absolute;
  top: 50px;
  left: 35px;
  cursor: pointer;
}
.change__content {
  margin-top: 43px;
}
.change__content-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.change__content-values {
  margin-bottom: 32px;
}
.change__content .balance-settings {
  display: flex;
  align-items: center;
}
.change__content .balance-settings__item {
  width: 100%;
  background: #1d2228;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin-right: 17px;
  padding: 15px;
}
.change__content .balance-settings__item:last-child {
  margin-right: 0;
}
.change__content .balance-settings__item-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  margin-bottom: 14px;
}
.change__content .balance-settings__item-title img {
  width: 32px;
  height: 32px;
}
.change__content .balance-settings__item-title span {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #fff;
}
.change__content .balance-settings__item-list {
  display: flex;
  align-items: center;
}
.change__content .balance-settings__item-list li {
  margin-right: 13px;
}
.change__content .balance-settings__item-list li:last-child {
  margin-right: 0;
}
.change__content .balance-settings__item-list li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ff5693;
}
@media (max-width: 670px) {
  .change__content .balance-settings {
    flex-direction: column;
    align-items: center;
  }
  .change__content .balance-settings__item {
    margin: 0 0 10px 0;
  }
  .change__content .balance-settings__item-title span {
    font-size: 26px;
  }
}
.change__content .connect-wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 10px;
}
.change__content .connect-wallet__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
  text-align: center;
}
.change__content .connect-wallet__item-video {
  position: relative;
  max-width: 160px;
  width: 100%;
  margin-bottom: 12px;
}
.change__content .connect-wallet__number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  top: -27px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #1f2b38;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}
.change__content .connect-wallet__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.62);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.change__content .connect-wallet__play img {
  transform: translate(15%);
}
@media (max-width: 590px) {
  .change__content .connect-wallet {
    flex-direction: column;
  }
  .change__content .connect-wallet__item {
    margin-bottom: 15px;
  }
}
.change__content .connect-loader {
  max-width: 60px;
  margin: 0 auto;
}
.change__content .connect-loader__item {
  position: relative;
}
.change__content .connect-loader__item-image {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.change__content .connect-loader__item-image img {
  width: 34px;
  height: 34px;
}
.change__content .connect-loader__item-circle {
  max-width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
}
.change__content .connect-loader__item-circle circle {
  fill: transparent;
  stroke: #9663f0;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 188.4;
  transform-origin: 30px 30px 0;
  animation: spinner 2s linear infinite;
}
.change__button {
  max-width: 157px;
  margin: 0 auto;
}
.change__button span {
  padding: 13px 10px;
}
@media (max-width: 520px) {
  .change__body {
    padding: 20px 10px;
  }
  .change__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .change__exit {
    top: 24px;
  }
  .change__back {
    top: 24px;
  }
  .change__content {
    margin-top: 20px;
  }
}
.change .follow__exit {
  position: absolute;
  right: 24px;
  top: 50px;
  cursor: pointer;
}
.change .follow__title {
  display: flex;
  align-items: center;
}
.change .follow__title-item {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 24px;
}
.change .follow__title-item:last-child {
  margin-right: 0;
}
.change .follow__title-item_active {
  color: #fff;
}
.change .follow__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.change .follow__item-button_follow {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 12px;
  padding: 12px 32px;
}
.change .follow__item-button_follow span {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.change .follow__item-button_unfollow {
  background: none;
  filter: drop-shadow(0px 15px 30px rgba(20, 102, 204, 0.16));
  border-radius: 12px;
  padding: 12px 32px;
  border: 2px solid #9663f0;
}
.change .follow__item-button_unfollow span {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 500px) {
  .change .follow__body {
    padding: 20px 5px;
  }
  .change .follow__title-item {
    font-size: 18px;
  }
  .change .follow__exit {
    top: 24px;
  }
}
.change .create-timer {
  margin-bottom: 32px;
}
.change .create-timer__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.change .create-timer__set {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16px;
}
.change .create-timer__info {
  margin-top: 8px;
}
.change .create-calc {
  display: flex;
  align-items: flex-start;
}
.change .create-calc__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}
.change .create-calc__item:last-child {
  margin-right: 0;
}
.change .create-calc__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.change .create-calc__item-values {
  margin-top: 8px;
}
.change .create-calc__item-computation {
  margin-top: 20px;
}
@media (max-width: 470px) {
  .change .create-calc__item {
    margin-right: 25px;
  }
  .change .create-calc__item:last-child {
    margin-right: 0;
  }
}
.change .create-computation {
  display: flex;
  align-items: center;
}
.change .create-computation__item {
  margin-right: 11px;
}
.change .create-computation__item::after {
  margin-right: 0;
}
.change .create-computation__item-minus {
  display: block;
  width: 12px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.change .create-computation__item-value {
  font-family: "Raleway", monospace;
  font-weight: 700;
}
.change .create-computation__item-plus {
  display: block;
  width: 13px;
  height: 5px;
  background: #989b9e;
  position: relative;
  z-index: 2;
}
.change .create-computation__item-plus::after {
  content: "";
  width: 5px;
  height: 13px;
  position: absolute;
  left: 4px;
  top: -4px;
  background: #989b9e;
  z-index: 1;
}
.change .create-computation__item_active span {
  background: #fff;
}
.change .create-computation__item_active span::after {
  background: #fff;
}
.change .create-type {
  margin: 24px 0;
}
.change .create-type__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
}
.change .create-type__content {
  display: flex;
  align-items: center;
}
.change .create-type__item {
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
.change .create-type__item:last-child {
  margin-right: 0;
}
.change .create-type__item-button {
  background: none;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 6px;
}
.change .create-type__item_active button {
  position: relative;
  border: none;
}
.change .create-type__item_active button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: linear-gradient(270deg, #8743ff 0%, #d8c2ff 100%);
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}
.change .create-type__item_active button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ad83f5;
  border-radius: 50%;
}
.change .create-type__item_active span {
  color: #fff;
}
.change .create__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}
.change .create__exception {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ff5e54;
  background: rgba(255, 94, 84, 0.1);
  border-radius: 16px;
  padding: 12px 16px;
  margin-bottom: 23px;
}
.change .create__content {
  margin-bottom: 33px;
}
.change .create__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.change .create__progress-item {
  max-width: 150px;
  height: 5px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  margin-right: 6px;
}
.change .create__progress-item:last-child {
  margin-right: 0;
}
.change .create__progress-item_active {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  border-radius: 12px;
}
.change .create__step {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 20px;
}
.change .create__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 12px;
}
.change .create__upload {
  border: 1px dashed #c4c4c4;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 124px;
}
.change .create__upload-format {
  margin-bottom: 30px;
}
.change .create__upload-format span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.change .create__upload-drop {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.change .create__censor {
  margin-bottom: 16px;
}
.change .create__censor img {
  max-width: 100%;
  object-fit: cover;
}
.change .create__paint {
  display: flex;
  align-items: center;
}
.change .create__paint-item {
  margin-right: 24px;
}
.change .create__paint-item:last-child {
  margin-right: 0;
}
.change .create__paint-item button {
  background: none;
}
.change .create__artname {
  margin-bottom: 24px;
}
.change .create__artname-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.change .create__artname-input {
  width: 100%;
  height: 40px;
  background: #1d2228;
  border-radius: 8px;
}
.change .create__descript-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.change .create__descript-textarea {
  background: #1d2228;
  border-radius: 8px;
  width: 100%;
  height: 120px;
  resize: none;
}
.change .create__timer {
  margin-top: 24px;
}
.change .create__button {
  max-width: 157px;
  margin: 0 auto;
}
.change .create__button span {
  padding: 13px 10px;
}
@media (max-width: 500px) {
  .change .create__upload {
    padding: 50px;
  }
}
.change .change-profile__bio {
  margin-bottom: 24px;
}
.change .change-profile__bio-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.change .change-profile__bio-textarea textarea {
  resize: none;
  width: 100%;
  height: 120px;
  background: #1d2228;
  border-radius: 8px;
}
.change .general-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.change .general-info__item {
  flex: 1 0 45%;
  width: 100%;
  margin-right: 16px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.change .general-info__item:nth-child(even) {
  margin-right: 0;
}
.change .general-info__item:last-child {
  margin-bottom: 0;
}
.change .general-info__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
.change .general-info__item-input {
  display: flex;
  align-items: center;
}
.change .general-info__item-input span {
  margin-right: 10px;
}
.change .general-info__item-input input {
  width: 100%;
  background: #1d2228;
  border-radius: 8px;
  height: 40px;
}
.change .profile-picture {
  margin-bottom: 24px;
}
.change .profile-picture__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}
.change .profile-picture__content {
  max-width: 294px;
  display: flex;
  align-items: center;
  background: #1d2228;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 20px;
}
.change .profile-picture__content-image {
  margin-right: 16px;
}
.change .profile-picture__content-image img {
  width: 80px;
  height: 80px;
  border-radius: 99px;
}
.change .profile-picture__content-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 3px;
}
.change .profile-picture__content-item:last-child {
  margin-bottom: 0;
}
.change .profile-picture__content-item .delete-file-button {
  margin: 0;
}
.change .profile-contact {
  margin-bottom: 24px;
}
.change .profile-contact__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 6px;
}
.change .profile-contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.change .profile-contact__item:last-child {
  margin-bottom: 0;
}
.change .profile-contact__item-title {
  display: flex;
  align-items: center;
  flex: 1 0 100px;
}
.change .profile-contact__item-title img {
  margin-right: 8px;
}
.change .profile-contact__item-input {
  flex: 1 1 100%;
}
.change .profile-contact__item-input input {
  width: 100%;
  height: 40px;
  background: #1d2228;
  border-radius: 8px;
}
@media (max-width: 550px) {
  .change .general-info {
    margin-bottom: 20pxb;
    flex-direction: column;
  }
  .change .general-info__item {
    flex: none;
    margin: 0 0 10px 0;
  }
}

.change-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.change-info__item {
  margin-right: 10px;
}
.change-info__item:last-child {
  margin-right: 0;
}
.change-info__item-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: #1d2228;
  border-radius: 8px;
  padding: 10px 20px 10px 15px;
}
.change-info__item-time {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: #1d2228;
  border-radius: 8px;
  padding: 10px 20px 10px 15px;
}
.change-info__item-timestamp {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 470px) {
  .change-info {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .change-info__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px 0;
    flex: 1 1 50%;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    stroke-dashoffset: 39.6;
  }
  50% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    stroke-dashoffset: 188.4;
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    stroke-dashoffset: 39.6;
  }
}
.main-slider {
  max-width: 786px;
  height: 548px;
  width: 100%;
}
.main-slider__item {
  max-width: 519px;
}
.main-slider__item img {
  width: 519px;
  height: 519px;
}
.main-slider .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}
.main-slider .swiper-pagination-bullet {
  width: 95px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 99px;
}
@media (max-width: 1278px) {
  .main-slider {
    max-width: 620px;
    height: 440px;
  }
  .main-slider__item img {
    width: 419px;
    height: 419px;
  }
}
@media (max-width: 1107px) {
  .main-slider {
    max-width: 510px;
  }
}
@media (max-width: 991px) {
  .main-slider {
    max-width: 728px;
  }
}
@media (max-width: 725px) {
  .main-slider {
    max-width: 650px;
    height: 380px;
    margin-bottom: 20px;
  }
  .main-slider__item {
    max-width: 100%;
  }
  .main-slider__item img {
    width: 350px;
    height: 350px;
  }
  .main-slider .swiper-pagination-bullet {
    width: 55px;
    height: 3px;
  }
}
@media (max-width: 500px) {
  .main-slider {
    width: 100%;
    height: 100%;
  }
  .main-slider__item {
    width: 80%;
  }
  .main-slider__item img {
    width: 100%;
    height: 100%;
  }
  .main-slider .swiper-pagination {
    display: none;
  }
}

body {
  font-family: "Raleway", sans-serif;
  letter-spacing: normal;
  font-style: normal;
  height: 100%;
  color: #fff;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #1d2228;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 25px;
}
@media (max-width: 500px) {
  .container {
    padding: 0 10px;
    max-width: none;
  }
}

.main {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

h3.demo {
  font-size: 24px;
  color: purple;
  padding: 10px;
}

a.demo {
  font-size: 24px;
  color: white;
  padding: 10px;
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d2228;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 99px;
}

/*# sourceMappingURL=/scss.6b84482b.css.map */